* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2 {
  letter-spacing: 0.02rem;
  font-weight: 500;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

.App {
  max-width: 850px;
  margin: 20px auto;
  padding: 5px;
  border: solid 1px #ddd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Map svg {
  height: auto;
  width: 100%;
}

.alert {
  fill: #cc202b;
}

.partial {
  fill: #f7651d;
}

.quiet {
  fill: #069753;
}

.quiet:hover,
.alert:hover,
.partial:hover {
  opacity: 80%;
  cursor: pointer;
}

.Map {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  gap: 20px;
}

.Tooltip {
  height: fit-content;
  padding: 10px;
}

.Tooltip.border {
  border: solid 1px #ddd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Tooltip .text {
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (max-width: 650px) {
  h1 {
    font-size: 1.2rem;
  }
  .Map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Map svg {
    width: 100%;
    height: auto;
  }
  .Tooltip {
    position: static;
  }
}
